.navBarWeather{
  
}

.navvBarWheaterP{
  margin: 0;
  text-align: start;
  font-size: 0.8rem !important;
}

.navvBarWheaterP2{
  margin: 0;
  text-align: start;
  font-size: 1rem !important;
}

.navBarWeatherImg{
  height: 48px;
  margin: auto 0.5rem;
}

.weatherColumnMain{
}

.forecastColumnP{
  font-size: 0.9rem;
}

#forecastTime{
  font-size: 0.8rem;
}

#minmaxTemp{
  font-size: 0.7rem;
}

#tempPerce{
  font-size: 0.7rem;
}